<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <div>
        <!-- logo -->
        <h1>
            <a onclick="movePage(URI_CP_BASE_URL)"><img src="/img/logo.png" alt="PaaS-TA 로고" /></a>
        </h1>
        <!-- menu -->
        <div>
            <!-- title -->
            <h3 id="nameSpaceTitleDiv">
                <a href="javascript:;" class="nameTop">ALL</a>
                <ul class="nameSpace scroll02">
                </ul>
            </h3>
        </div>
    </div>
</header>

</html>